<html>
    <head>
        <title>{% block title %}Bump{% endblock %}</title>
        {% block css %}
        <link rel=stylesheet type=text/css href="{{ url_for('static',
        filename='style.css') }}">
        {% endblock %}
        {% block script %}
        {% endblock  %}
    </head>

    <div class=page>
        <h1>{% block header %}Bump{% endblock %}</h1>
        <div class=metanav>
        {% if not session.user_id %}
            <a href="{{ url_for('users.login') }}">log in</a>
        {% else %}
            <a href="{{ url_for('users.logout') }}">log out</a>
        {% endif %}
        </div>
        {% for category, msg in get_flashed_messages(with_categories=True) %}
            <div class=flash>{{ msg }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div>
</html>
